UnityLockfile
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
src/Library/FailedAssetImports.txt
src/Library/cache/
src/Library/previews/
src/Library/ScriptAssemblies/
src/obj/
Temp/
src/_ReSharper.dddddddd-csharp/
src/_ReSharper.src-csharp
*.dwlt
